*{
    margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: #006666;
background: radial-gradient(circle farthest-corner at center center, #006666 0%, #404699 100%);
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
}
@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}
nav{
    position: relative;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
background: #66FFFF;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 99;
}
button{
    width: 130px;
height: 50px;
background: #99FFFF;
border: 2px solid #fff;
outline: none;
border-radius: 60px;
cursor: pointer;
font-size: 1.1em;
font-weight: 500;
margin-left: 20px;
transition: .5s;
}
button:hover{
    background: #CCFFFF;
color: #000099;
}
nav a{
position: relative;
font-size: 1.1em;
color: #000099;;
text-decoration: none;
font-weight: 500;
margin-left: auto;
}
tr, td, th{
border: 4px solid black;
border-radius: 4px;
background-color:rgb(79, 231, 130);
}
table{
text-align: center;
}
caption{
font-size: 30px;
color: blue;
font-family: sans-serif;
}
form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
font-size: 20px;
font-family: sans-serif;
font-weight: 600;
}